<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">
			Trends
		</p>
		<a class="panel-block">
			Trending in Malawi
		</a>
		<a class="panel-block">
			Technology . Trending
		</a>
		<a class="panel-block">
			Science . Trending
		</a>
		<a class="panel-block">
			Footbal . Trending
		</a>
		<a class="panel-block">
			Trending in South Africa
		</a>
	</nav>
</div>